<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link type="text/css" href="~/Areas/HelpPage/Content/HelpPage.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/HelpPage/Content/Site.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/HelpPage/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    @RenderBody()
</body>
</html>